<div class="container">
  <div class="row justify-content-center height align-items-center">
    <div class="shadow width rounded p-4">
      <form [formGroup]="form">
        <div class="col">
          <h2>Recover Password</h2>
          <hr class="header-line">
        </div>
        <div class="col form-group">
          <label for="email">Email: <span class="text-danger">*</span></label>
          <input type="email" name="email" class="form-control" formControlName="email" id="email" placeholder="Enter your email address">
        </div>
        <div class="col btn-group">
          <button class="btn btn-primary btn-block text-center btn-sm font-weight-bold" type="submit">
            <span> Send Recovery Mail
<!--            <fa-icon [icon]="passRecoveryIcon"></fa-icon>-->
            </span>
          </button>
        </div>
        <div class="col font-weight-bold mt-2">
          <a routerLink="/" class="float-right">Back to Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
